<div id="post-stream">
	<h4>All Projects</h4>
		<div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'"> 
			<span ng-click="postPage(post)">
				<p>{{post.title}}</p>
				<p>{{post.description}}</p>
				<small>Posted by @{{post.created_by}}</small><br>
				Votes: <small>{{post.upvotes}}</small>			</span>
				<a ng-click="incrementUpvotes(post)" ng-show="authenticated">^</a>
				<small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
		</div>
</div>