<div id="post-stream">
	<h4>Idea by: {{currentPost.created_by}}</h4>
	<div class="post" style="background-color: #f2f9ff;"> 

		<span ng-click="postPage(post)">
			<p>{{currentPost.title}}</p>
			<p>{{currentPost.description}}</p>
		</span>
		<small>Posted by @{{currentPost.created_by}}</small><br>
		Votes: <small>{{currentPost.upvotes}}</small>			
		<a ng-click="incrementUpvotes(post)" ng-show="authenticated">^</a>
		<small class="pull-right">{{currentPost.created_at | date:"h:mma 'on' MMM d, y"}}</small>
	</div>
	<form method="" action="" role="form">
		<div class="form-group">
			<textarea rows="6" name="body" placeholder="Add your comment" id="" cols="30" rows="10" class="form-control"></textarea>
		</div>
		<button class="btn btn-primary" type="submit">Add comment</button>
	</form>
</div>
